@import "../../listenerHandlers/randomGameClick/randomGameForm";

.modal__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(64, 63, 61, 0.8);
  @include flex-center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.modal__container.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  position: relative;
  width: 600px;
  height: 400px;
  max-width: 96%;
  padding-inline: 16px;
  padding-block: 48px;
  border-radius: 40px;
  transform: scale(0.5);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5%;
  background-color: var(--modal-bg-color);
  background-repeat: no-repeat;
  @include mobile {
    padding-inline: 6px;
    padding-block: 12px;
  }
}

.modal__content.confirm {
  background-image: url("../app-files/imgs/bg/bg-light.png");
  background-size: 24%;
  background-position: 102% 90%;
}

.modal__content.victory {
  background-image: url("../app-files/imgs/bg/victory.png");
  background-size: 34%;
  background-position: 100% 90%;
}

.modal__content.alert {
  background-image: url("../app-files/imgs/bg/alert.png");
  background-size: 34%;
  background-position: 96% 74%;
}

.modal__content.records-bg {
  background-image: url("../app-files/imgs/bg/records.png");
  background-size: 24%;
  background-position: 98% 74%;
}

.modal__content.active {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 4%;
  right: 2%;
  background-color: var(--modal-bg-color);
  height: max-content;
  width: max-content;

  .cross__main {
    fill: var(--modal-cross-main);
  }
  .cross__ends {
    fill: var(--modal-cross-ends);
  }
  .cross__side {
    fill: var(--modal-cross-side1);
  }
  .cross__other-side {
    fill: var(--modal-cross-side2);
  }
}

.alert-container {
  margin-top: 44px;
  min-height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    margin-top: 80px;
  }
}

.help-text.alert-text {
  font-size: 22px;
  line-height: 1.2;
  max-width: 85%;
  text-align: center;
}

.help-text.alert-text2 {
  font-size: 32px;
  line-height: 1.2;
  max-width: 85%;
  text-align: center;
}

.two-btns-group {
  @include flex-center;
  gap: 12px;
}
