#playerName {
  min-width: 102px;
  max-width: 162px;
  display: inline-block;
  margin-left: 6px;
  padding-left: 4px;
  padding-block: 4px;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}
