<!-- устаревшая разметка с прошлой ветки, новая формируется с помощью js -->

<!-- <ul class="cards-list">
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-1.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Irish coffee</h4>
            <p class="card-description">
                Fragrant black coffee with Jameson Irish whiskey and whipped
                milk
            </p>
            <span class="card-price">$7.00</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-2.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Kahlua coffee</h4>
            <p class="card-description">
                Classic coffee with milk and Kahlua liqueur under a cap of
                frothed milk
            </p>
            <span class="card-price">$7.00</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-3.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Honey raf</h4>
            <p class="card-description">
                Espresso with frothed milk, cream and aromatic honey
            </p>
            <span class="card-price">$5.50</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-4.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Ice cappuccino</h4>
            <p class="card-description">
                Cappuccino with soft thick foam in summer version with ice
            </p>
            <span class="card-price">$5.00</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-5.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Espresso</h4>
            <p class="card-description">Classic black coffee</p>
            <span class="card-price">$4.50</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-6.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Latte</h4>
            <p class="card-description">
                Espresso coffee with the addition of steamed milk and dense milk
                foam
            </p>
            <span class="card-price">$5.50</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-7.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Latte macchiato</h4>
            <p class="card-description">
                Espresso with frothed milk and chocolate
            </p>
            <span class="card-price">$5.50</span>
        </div>
    </li>
    <li class="card">
        <picture class="card-photo">
            <img src="/imgs/MenuPage/CardsList/coffee-8.jpg" alt="" />
        </picture>
        <div class="card-text-content">
            <h4 class="card-title">Coffee with cognac</h4>
            <p class="card-description">
                Fragrant black coffee with cognac and whipped cream
            </p>
            <span class="card-price">$6.50</span>
        </div>
    </li>
</ul> -->
