.difficulty-label,
.nonogram-names-label {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 600;
  @include mobile {
    font-size: 16px;
  }
}

#difficulty-select,
#nonogram-names-select {
  min-width: 102px;
  display: inline-block;
  margin-left: 6px;
  padding-left: 4px;
  padding-block: 4px;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  @include mobile {
    padding-left: 2px;
  }
}

.label-title {
  display: inline-block;
  min-width: 196px;
  min-width: auto;
}
