@import "./theme.scss";
@import "./mixin";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.app-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 10px;
  @include mobile {
    padding-inline: 3px;
  }
}

@import "../js/components/header/header";
@import "../js/components/gameInterface/gameInterface";
@import "../js/components/gameContainer/gameContainer";
@import "../js/components/modal/modal";
@import "../js/components/gameSettings/gameSettings";
@import "../js/components/howToPlay/howToPlay";
@import "../js/components/recordsTable/createRecordsTable";
