a,
abbr,
acronym,
address,
applet,
aside,
audio,
article,
big,
blockquote,
body,
button,
b,
canvas,
caption,
center,
cite,
code,
dd,
details,
dfn,
div,
dt,
del,
dl,
em,
embed,
figcaption,
footer,
form,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
li,
main,
mark,
menu,
nav,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
span,
strike,
strong,
sub,
summary,
sup,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
details,
figcaption,
figure,
menu {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* added myself */

html,
body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

button {
    display: inline-block;
    cursor: pointer;
    border: none;
}
