$mainBgColor: #e1d4c9;

$containerBgColor: #665f55;

$backdropColor: rgba(64, 63, 61, 0.8);

$textColorDark: #403f3d;

$textColorLight: #e1d4c9;

$textColorAccent: #b0907a;

$borderColorLight: #c1b6ad;

$borderColorDark: #665f55;

// $textColorAccent: #e2c5b1;
